body{
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.content{
  margin-top: 100px;
  width: 800px;
  margin: auto;
  background-color: white;
}

.title{
  text-align: center;
  background-color: #26a69a;
  color: white;
}

.progress {
    margin: -15px 0 1rem 0;
}

.categories {
  background-color: #26a69a !important;
  color : white !important;
}

.margin-top {
  margin-top: 10px !important;
}

.button-more {
  background-color: #26a69a !important;
}

.button-home {
  float: right;
  margin-right: 10px;
}

.previous-button {

  float: left !important;
  margin-left: 10px !important;

}

.next-button {

  float: right !important;
  margin-right: 10px !important;

}

h1{
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.input-field {
    position: relative;
    margin-top: 10px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.nav{
  text-align: center;
  padding: 20px 0px;
}

.nav a{
  margin: 0px 5px;
}

.btn {
  background-color: #80cbc4;
}
